<!DOCTYPE html>
<html>  
<head>  
<title>Flask Home</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static',filename='styles_index.css') }}">  
</head>  
<body class="center_body"> 
    <header> 
        <h2 class="logo">豬逼運彩下注網</h2>
        <nav class="navigation">
            <a href ="/view">比賽資訊</a>
            <a href="/team">NBA 季後賽球隊資訊</a>
            <a href="/player">NBA 季後賽球員資訊</a>
            <a href="/money_in">入金</a>
            <a herf="/gameplay">下注玩法</a>
            <a herf="/member_infor">會員資料</a>
            <a href ="/logout">登出</a>
        </nav>
    </header>
    <h2>
        "豬逼 {{user_id}} 歡迎瓜瓜瓜！！！"
    </h2>

</body>  
</html>