<!DOCTYPE html>
<html>  
<head>  
<title>Flask Home</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static',filename='styles_index.css') }}">  
</head>  
<body class="center_body"> 
    <header> 
        <h2 class="logo">豬逼運彩下注網</h2>
        <nav class="navigation">
            <a href="/add">會員註冊</a>
            <a href ="/view">比賽資訊</a>
            <a href="/team">NBA 季後賽球隊資訊</a>
            <a href="/player">NBA 季後賽球員資訊</a>
            <a href="/login">會員登入</a>
            <a href="/gameplay">下注玩法</a>
        </nav>
    </header>
    <h2>
        "{{user_id}}歡迎加入豬逼的行列!!!"
    </h2>

</body>  
</html>